@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,700;1,400&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Titillium Web', sans-serif;
    background-color: whitesmoke;
    margin: 0 auto;
}


/*  Header  */

.header {
    grid-column: 1/-1;
    grid-row: 1/2;
    background: rgb(192, 192, 192);
    background: linear-gradient(180deg, silver, rgb(223, 220, 220), rgb(245, 243, 243));
    justify-items: center;
    padding: 0;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__menu {
    list-style: none;
    display: flex;
    align-items: center;
    gap: .8rem;
    padding-right: 2em;
}

.header__enlace {
    display: block;
    color: rgb(142, 142, 142);
    font-size: 1.1rem;
    text-decoration: none;
    font-weight: bold;
}

.header__enlace:hover {
    color: white;
    transition: 2s;
    background-color: crimson;
    padding: 0.5em;
}

.header__enlace--actual {
    background-color: crimson;
    padding: 0.5em;
    color: white;
    text-transform: uppercase;
}

.header__enlace--separado {
    color: crimson;
}

.containerPrincipal {
    width: 80%;
    max-width: 100%;
    margin: 10px auto;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, auto);
    padding: 0.2em auto;
}


/*  Index   */

main {
    grid-column: 1/-1;
    grid-row: 2/3;
}

.content h1 {
    text-align: center;
    text-transform: uppercase;
    padding: 1em;
    font-weight: bold;
    font-size: 2em;
}

.video {
    grid-column: 1/2;
    grid-row: 3/5;
    justify-self: center;
    align-self: center;
    transition: transform 1s;
}

.video:hover {
    transform: scale(1.5, 1.5);
}

.texto2 {
    grid-column: 2/3;
    grid-row: 3/4;
    min-height: 100px;
}

.texto3 {
    grid-column: 2/3;
    grid-row: 4/5;
    min-height: 100px;
}


/*  Mis Datos   */

.tablaDatos {
    grid-column: 1/3;
    grid-row: 2/3;
    margin: 0 auto;
    align-content: center;
    display: flex;
    flex-direction: column;
}

.container {
    padding-top: 2em;
}

.table-responsive {
    overflow-x: clip;
    text-align: center;
    justify-content: center;
}

.tabladatos__informacion {
    height: 250px;
}

.tabladatos__informacion h1 {
    text-align: center;
}

tbody {
    background-color: white;
}

.tabladatos__encabezados {
    text-align: center;
}

.tabladatos__informacionadicional h2 {
    text-align: center;
    padding-top: 2em;
}


/*  Eventos   */

.listadoEventos {
    grid-column: 1/-1;
    grid-row: 2/3;
    height: 350px
}

.listadoEventos h1 {
    text-align: center;
}

.listadoEventos ol {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-height: 100%;
}

.listadoEventos li {
    padding: 0.25em;
}

.listadoEventos a {
    transition: font 0.8s;
}

.listadoEventos a:hover {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
}


/*  Noticias   */

.mainNoticias {
    grid-column: 1/-1;
    grid-row: 2/5;
}

.videosNoticias {
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding-top: 2em;
    padding-bottom: 1em;
}

.videosNoticias__uno {
    transform: rotate(-1.5deg);
}

.videosNoticias__dos {
    transform: rotate(1.5deg);
}

.videosNoticias2 {
    grid-column: 2/3;
    grid-row: 3/4;
    display: flex;
    flex-grow: 1em;
    justify-content: space-around;
    align-content: center;
    padding-top: 1em;
    padding-bottom: 2em;
}

.videosNoticias2__uno:hover {
    transform: rotate(1.5deg);
}

.videosNoticias2__dos:hover {
    transform: rotate(-1.5deg);
}


/*  Contacto   */

.botones {
    display: flex;
    justify-content: space-evenly;
}


/*  Footer  */

footer {
    grid-column: 1/3;
    grid-row: 5/6;
    background: rgb(192, 192, 192);
    background: linear-gradient(0deg, silver, rgb(223, 220, 220), rgb(245, 243, 243));
}

.footer__contenido {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.contenido__titulo {
    font-weight: bold;
    font-size: 1em;
}

.contenido__titulo2 {
    font-weight: bold;
    font-size: 1em;
    animation-name: giraNombre;
    animation-duration: .8s;
}

.contenido__redes {
    animation-name: giraRedes;
    animation-duration: .8s;
}


/*  Animaciones */

@keyframes giraRedes {
    0% {
        transform: rotate(72deg);
    }
    25% {
        transform: rotate(144deg)
    }
    50% {
        transform: rotate(216deg);
    }
    75% {
        transform: rotate(288deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

@keyframes giraNombre {
    0% {
        transform: rotate(-72deg);
    }
    25% {
        transform: rotate(-144deg)
    }
    50% {
        transform: rotate(-216deg);
    }
    75% {
        transform: rotate(-288deg)
    }
    100% {
        transform: rotate(-360deg)
    }
}


/*  Media Index   */

@media screen and (max-width:1023px) {
    .container {
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, auto);
    }
    .header__nav {
        display: flex;
        flex-direction: column;
    }
    .header__menu {
        padding: 0;
    }
    .video {
        grid-column: 1/-1;
        grid-row: 3/4;
    }
    .texto2 {
        grid-column: 1/-1;
        grid-row: 4/5;
    }
    .texto3 {
        grid-column: 1/-1;
        grid-row: 5/6;
    }
    footer {
        grid-column: 1/3;
        grid-row: 6/7;
        background-color: silver;
    }
    .footer__contenido .contenido__titulo,
    .contenido__titulo2 {
        display: flex;
        flex-direction: row;
    }
    .footer__contenido .contenido__redes {
        flex-direction: column;
    }
    .table-responsive {
        overflow-x: auto;
        text-align: center;
        justify-content: center;
    }
}

@media screen and (max-width:768px) {
    .container {
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);
    }
    .header__nav {
        display: flex;
        flex-direction: column;
    }
    .header__menu {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .header__enlace {
        display: block;
        color: rgb(142, 142, 142);
        font-size: 1em;
        text-decoration: none;
        font-weight: bold;
        padding: 0;
    }
    .header__enlace:hover {
        color: white;
        transition: 2s;
        background-color: crimson;
        padding: 0;
    }
    .header__enlace--actual {
        background-color: crimson;
        padding: 0.2em;
        color: white;
        text-transform: uppercase;
    }
    .header__listado {
        padding: -1em;
    }
    .video {
        grid-column: 1/-1;
        grid-row: 3/4;
    }
    .texto2 {
        grid-column: 1/-1;
        grid-row: 4/5;
    }
    .texto3 {
        grid-column: 1/-1;
        grid-row: 5/6;
    }
    footer {
        grid-column: 1/-1;
        grid-row: 6/7;
        background-color: silver;
    }
    .footer__contenido {
        display: flex;
        flex-direction: column;
    }
    .contenido__titulo2 {
        padding: 0.5em;
    }
    .table-responsive {
        overflow-x: auto;
        text-align: center;
    }
}


/*  Bootstrap   */