<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="EDUCACIÓN, CURSOS, DIPLOMADOS, MAESTRIAS, PROFESIÓN, TECNOLOGÍA, INVESTIGACIÓN, CARRERA">
    <meta name="description" content="Ofrecemos Cuursos, Diplomados y Maestrias en el ramo tecnológico. Certificación avalado por las instituciones educativas más importantes del país">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/translate.css">
    <title>Educación Avazada - Datos personales|López Díaz</title>
</head>

<body>
    <div class="containerPrincipal">
        <header class="header">
            <nav class="navbar navbar-expand-md">
                <div class="container-fluid">
                    <a class="navbar-brand" href="../index.html">
                        <img src="../img/logo.svg" alt="Logo de la empresa">
                    </a>
                    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#menunavegacion">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div id="menunavegacion" class="collapse navbar-collapse">
                        <ul class="navbar-nav ms-3">
                            <li class="nav-item">
                                <a class="nav-link " href="../index.html">Inicio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link nav-link__actual" href="./misdatos.html">Mis Datos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="./eventos.html">Eventos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="./noticias.html">Noticias</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="./contacto.html">Contacto</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link nav-link__separado" href="../index.html">Salir</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <main class="container__tabla">
            <div class="container">
                <h1>Datos Personales</h1>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover" border="1px solid black" cellspacing="1px">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Dirección</th>
                                <th>C.P.</th>
                                <th>Teléfono</th>
                                <th>Edad</th>
                                <th>Estudios</th>
                                <th>Cursos</th>
                                <th>Diplomados</th>
                                <th>Maestrias</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr align="center">
                                <td>Sergio López Díaz</td>
                                <td>Dirección Conocida</td>
                                <td>10000</td>
                                <td>5082526352</td>
                                <td>43</td>
                                <td>Universidad</td>
                                <td>Si</td>
                                <td>No</td>
                                <td>No</td>
                            </tr>
                        </tbody>
                        <tfoot></tfoot>
                    </table>
                </div>
            </div>

            <div class="container-secundario">
                <h2>Datos Adicionales</h2>
                <article>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                        survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently
                        with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                </article>
            </div>
        </main>
        <footer class="container-fluid">
            <div class="row">
                <div class="col-sm-5">
                    <h4>Derechos reservados por Educación Evanzada &copy; </h4>
                </div>
                <div class="col-sm-4">
                    <h4>Sergio López</h4>
                </div>
                <div class="col-sm-3">
                    <a class="logosredes__twitter" href="http://twitter.com" target="_blank"><img src="https://lh6.googleusercontent.com/--aIk2uBwEKM/T3nN1x09jBI/AAAAAAAAAs8/qzDsbw3kEm8/s32/twitter32.png" width=32 height=32 alt="Síguenos en Twitter" /></a>
                    <a class="logosredes__face" href="http://www.facebook.com" target="_blank"><img alt="Siguenos en Facebook" src="https://lh6.googleusercontent.com/-CYt37hfDnQ8/T3nNydojf_I/AAAAAAAAAr0/P5OtlZxV4rk/s32/facebook32.png" width=32 height=32 /></a>
                    <a class="logosredes__linkedin" href="http://www.linkedin.com" target="_blank"><img alt="Siguenos en Linkedin" src="https://lh5.googleusercontent.com/-8C0OdSp_7ZA/T3nN0G_313I/AAAAAAAAAsU/6_Hbu6Of3qU/s32/linkedin32.png" width=32 height=32 /></a>
                </div>
            </div>
        </footer>
    </div>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>

</html>