<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="NOTICIAS SOBRE CURSOS, DIPLOMADOS, MAESTRIAS, PROFESIÓN, TECNOLOGÍA, INVESTIGACIÓN, CARRERA">
    <meta name="description" content="Ofrecemos Cuursos, Diplomados y Maestrias en el ramo tecnológico. Certificación avalado por las instituciones educativas más importantes del país">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/index.css">
    <title>Educación Avazada - Enterate de las noticias más reelevantes de la industria tecnológica|López Díaz</title>
</head>

<body>
    <div class="containerPrincipal">
        <header class="header">
            <nav class="navbar navbar-expand-md">
                <div class="container-fluid">
                    <a class="navbar-brand" href="../index.html">
                        <img src="../img/logo.svg" alt="Logo de la empresa">
                    </a>
                    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#menunavegacion">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div id="menunavegacion" class="collapse navbar-collapse">
                        <ul class="navbar-nav ms-3">
                            <li class="nav-item">
                                <a class="nav-link" href="../index.html">Inicio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="./misdatos.html">Mis Datos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="./eventos.html">Eventos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link nav-link__actual" href="./noticias.html">Noticias</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="./contacto.html">Contacto</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link nav-link__separado" href="../index.html">Salir</a>
                            </li>
                    </div>
                </div>
            </nav>
        </header>
        <main class="containerNoticias">
            <div class="videosNoticias">
                <iframe class="videosNoticias__uno" src="https://www.youtube.com/embed/rNPEYG31fQw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <iframe class="videosNoticias__dos" src="https://www.youtube.com/embed/rNPEYG31fQw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="videosNoticias2">
                <iframe class="videosNoticias2__uno" src="https://www.youtube.com/embed/rNPEYG31fQw " title="YouTube video player " frameborder="0 " allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <iframe class="videosNoticias2__dos " src="https://www.youtube.com/embed/rNPEYG31fQw " title="YouTube video player " frameborder="0 " allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="textoNoticias">
                <p>
                    En esta sección podrá encontrar algunas de las noticias más relevantes en el mundo de las tecnologías de la información, así como de todas las áreas relacionadas con ésta.
                </p>
            </div>
        </main>
        <footer class="container-fluid">
            <div class="row">
                <div class="col-sm-5">
                    <h4>Derechos reservados por Educación Evanzada &copy; </h4>
                </div>
                <div class="col-sm-4">
                    <h4>Sergio López</h4>
                </div>
                <div class="col-sm-3">
                    <a class="logosredes__twitter" href="http://twitter.com" target="_blank"><img src="https://lh6.googleusercontent.com/--aIk2uBwEKM/T3nN1x09jBI/AAAAAAAAAs8/qzDsbw3kEm8/s32/twitter32.png" width=32 height=32 alt="Síguenos en Twitter" /></a>
                    <a class="logosredes__face" href="http://www.facebook.com" target="_blank"><img alt="Siguenos en Facebook" src="https://lh6.googleusercontent.com/-CYt37hfDnQ8/T3nNydojf_I/AAAAAAAAAr0/P5OtlZxV4rk/s32/facebook32.png" width=32 height=32 /></a>
                    <a class="logosredes__linkedin" href="http://www.linkedin.com" target="_blank"><img alt="Siguenos en Linkedin" src="https://lh5.googleusercontent.com/-8C0OdSp_7ZA/T3nN0G_313I/AAAAAAAAAsU/6_Hbu6Of3qU/s32/linkedin32.png" width=32 height=32 /></a>
                </div>
            </div>
        </footer>
    </div>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

</body>

</html>