<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
    <title>Educación Avazada|López Díaz</title>
</head>

<body>
    <div class="containerNoticias">
        <header class="header">
            <nav class="header__nav">
                <a class="header__img" href="./index.html">
                    <img src="../img/logo.svg" alt="Logo de la empresa">
                </a>
                <ul class="header__menu">
                    <li class="header__listado">
                        <a class="header__enlace " href="../index.html">Inicio</a>
                    </li>
                    <li class="header__listado">
                        <a class="header__enlace" href="./misdatos.html">Mis Datos</a>
                    </li>
                    <li class="header__listado">
                        <a class="header__enlace" href="./eventos.html">Eventos</a>
                    </li>
                    <li class="header__listado">
                        <a class="header__enlace header__enlace--actual" href="./noticias.html">Noticias</a>
                    </li>
                    <li class="header__listado">
                        <a class="header__enlace" href="./contacto.html">Contacto</a>
                    </li>
                    <li class="header__listado">
                        <a class="header__enlace header__enlace--separado" href="../index.html">Salir</a>
                    </li>
                </ul>
            </nav>
        </header>
        <main class="mainNoticias">
            <div class="videosNoticias">
                <iframe class="videosNoticias__uno" src="https://www.youtube.com/embed/rNPEYG31fQw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen width="40%"></iframe>
                <iframe class="videosNoticias__dos" src="https://www.youtube.com/embed/rNPEYG31fQw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen width="40%"></iframe>
            </div>
            <div class="videosNoticias2">
                <iframe class="videosNoticias2__uno" src="https://www.youtube.com/embed/rNPEYG31fQw " title="YouTube video player " frameborder="0 " allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen width="40% "></iframe>
                <iframe class="videosNoticias2__dos" src="https://www.youtube.com/embed/rNPEYG31fQw " title="YouTube video player " frameborder="0 " allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen width="40% "></iframe>
            </div>
            <div class="textoNoticias ">
                <p>
                    Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived
                    not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                    publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>
            </div>
        </main>
        <footer class="footer ">
            <div class="footer__contenido ">
                <div class="contenido__titulo ">
                    <h4>Derechos reservados por Educación Evanzada &copy; </h4>
                </div>
                <div class="contenido__titulo2 ">
                    <h4>Sergio López</h4>
                </div>
                <div class="contenido__redes ">
                    <a class="logosredes__twitter " href="http://twitter.com " target="_blank "><img src="https://lh6.googleusercontent.com/--aIk2uBwEKM/T3nN1x09jBI/AAAAAAAAAs8/qzDsbw3kEm8/s32/twitter32.png " width=32 height=32 alt="Síguenos en Twitter " /></a>
                    <a class="logosredes__face " href="http://www.facebook.com " target="_blank "><img alt="Siguenos en Facebook " src="https://lh6.googleusercontent.com/-CYt37hfDnQ8/T3nNydojf_I/AAAAAAAAAr0/P5OtlZxV4rk/s32/facebook32.png " width=32 height=32 /></a>
                    <a class="logosredes__linkedin " href="http://www.linkedin.com " target="_blank "><img alt="Siguenos en Linkedin " src="https://lh5.googleusercontent.com/-8C0OdSp_7ZA/T3nN0G_313I/AAAAAAAAAsU/6_Hbu6Of3qU/s32/linkedin32.png " width=32 height=32 /></a>
                </div>
            </div>
        </footer>
    </div>
</body>

</html>