.containerContacto {
    margin: 0 auto;
    grid-column: 1/-1;
    grid-row: 2/5;
    &__title {
        padding: 0.5em;
        text-align: center;
        font-weight: bold;
        font-size: x-large;
        justify-items: center;
    }
    .botones {
        display: flex;
        justify-content: space-around;
        padding-top: 1em;
        padding-bottom: 1em;
        .btn-aceptar {
            @extend .btn;
            width: 110px;
            color: white;
        }
        .btn-borrar {
            @extend .btn;
            width: 170px;
            color: crimson;
        }
    }
}

.btn {
    font-size: 20px;
    background-color: silver;
    border-radius: 1.5em;
    border: none;
}