/*  Colors  */

$principal: silver;
$links: crimson;

/*  Font-Sizes  */

$estilos:( padd: 0.5em, talign: center, fweight: bold, fsize: xx-large);
$widths:(width100: 100%, width90: 90%, width80: 80%);